.cache
public
node_modules
artifacts

# ignore files generated for the site search
static/documents.json
static/documents-reduced.json
static/lunr-index.json

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn/versions/*.yml

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
#!.yarn/cache
.pnp.*

.env
